[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
plotly = "*"
pandas = "*"
matplotlib = "*"
pywaffle = "*"
bokeh = "*"
geopandas = "*"
numpy = "*"
pillow = "*"
seaborn = "*"
rasterio = "==1.3a3"

[dev-packages]

[requires]
python_version = "3.10"
